style.
  .aside {
    display: flex;
    flex-direction: column;
  }

-
  const theme = 'Dark, please!'

mixin article
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui officiis, natus pariatur doloremque blanditiis rerum voluptate! Cum sapiente ratione ab amet adipisci, praesentium ut exercitationem odit minima molestias, fuga quis.
  
div.header
  +menu
div.main
  div.aside
  +article

+footer
