body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.heaader {
  font-family: serif;
  font-size: var(--font-size);
  margin: calc(100vw / 1rem);
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
}

.dark-please {
  background-color: #333131;
}
